@using AdminPanel.DbModels
@model Teachers

<table class="main_table" border="1">
    <tr>
        <th class="news-name">Имя учителя</th>
        <th class="news-description">Урок</th>
        <th class="news-description">Описание</th>
        <th class="news-description">Опыт работы</th>
        <th class="news-save"></th>
    </tr>
    <tr class="news">
        @using (Html.BeginForm("EditTeacher"))
        {
            <input type="hidden" name="Id" value="@Model.Id" />
            <td><input type="text" name="Name" value="@Model.Name"></td>
            <td><input type="text" name="Lessons" value="@Model.Lessons"></td>
            <td><textarea name="Description">@Model.Description</textarea></td>
            <td><input type="text" name="Exp" value="@Model.WorkExp"></td>
            <td><input class="input_submit" type="submit" value="Сохранить изменения"></td>
        }
    </tr>
</table>