@model List<News>


<a href="@Url.ActionLink("Create", "News")"><button>добавить новость</button></a>

<table class="main--table" border="1px">


    <tr>
        <th class="news--name">Название новости</th>
        <th>Описание новости</th>
        <th>Действия</th>
        <th>Фотографии</th>
    </tr>
    @foreach (var news in Model)
    {
        <tr>
            <td>@news.Name</td>
            <td class="news--description">@news.Description</td>
            <td class="news--settings">
                <a href="@Url.ActionLink("Edit", "News", new {NewsId = news.Id})"><button>редактировать</button></a>
                @using (Html.BeginForm("DeleteNews", "News", new { }))

                {
                    <input type="hidden" name="Id" value="@news.Id" />
                    <input class="input_submit" type="submit" value="Удалить новость">
                }
            </td>
            
            <td>
                
                    <div class="small-img"><img height="100" src="@news.MainPicturePath" alt=""></div>
                    <a href="@Url.ActionLink("PicturesEdit", "Pictures", new {NewsId = news.Id})"><button>edit</button></a>
                


            </td>
        </tr>
    }
</table>